/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Anish Manandhar
   Date:   3/14/2019

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


